body {
    background-color: ghostwhite;


}

#icerik {
    margin-left: 18%;
    margin-right: 18%;

}

#sayfacizgi {
    height: 10px;
    background-color: darkblue;
}

#sayfacizgi2 {
    height: 10px;
}

.header {
    background-color: ghostwhite;
}
